.chat-main
  .chat-main__header
    .chat-main__header__group-info
      .chat-main__header__group-info-title
        = @group.name
      .chat-main__header__group-info-member
        - @group.users.each do |user|
          = user.name
    .chat-main__header__group-info-btn
      = link_to edit_group_path(@group), class: 'text-deco' do
        .icons__btn__edit
          Edit
  .MessageField
    = render @messages
  .chat-main__footer
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .Form__contents
        = f.text_field :content, class: 'Form__inputContent', placeholder: 'type a message'
        = f.label :image, class: 'Form__inputImage' do
          = icon('far', 'image', class: 'Form__icon')
          = f.file_field :image, class: 'Hidden'
        = f.submit 'Send', class: 'Form__submit'